/* StarUML Clone Styles */

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.react-flow__node {
  cursor: pointer;
}

.react-flow__edge {
  cursor: pointer;
}

.react-flow__attribution {
  display: none;
}
